#layout {
  padding: 0;
}

@media (min-width: $md-screen) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .content {
    margin-left: 25%;
  }
}


.post-thumb{
  height: 225px;
  width: 320px;
  object-fit: cover;
  float: right;
  margin-bottom: 0;
  margin-left: 10px;
}
